@import "tailwindcss";

body {
  user-select: none;
  -webkit-user-select: none;
}

input, textarea {
  user-select: text !important;
  -webkit-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
}